.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: var(--ff-alata);
  /* padding: 1.5rem; */
}

.label {
  letter-spacing: 2px;
}

.header {
  font-family: var(--ff-josefin);
  font-size: 2rem;
  margin-top: 2rem;
}

