.root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 65vh;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: -200px;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.header {
  font-family: var(--ff-josefin);
  margin: 0;
  color: white;
  border: 1px solid var(--primary-white);
  padding: 2rem;
}
