.root {
  display: flex;
  align-items: flex-end;
}

.imgContainer {

}

.label {
  position: absolute;
  z-index: 2;
  font-family: var(--ff-josefin);
  text-transform: uppercase;
  padding: 1rem;
  color: var(--primary-white);
}

.img {
  width: 100%;
  height: auto;
}
