.root {
  display: flex;
  align-items: flex-end;
}

.imgContainer {

}

.label {
  position: absolute;
  z-index: 2;
  font-family: var(--ff-josefin);
  text-transform: uppercase;
  padding: 1rem;
  color: var(--primary-white);
  margin: 0;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@media screen and (min-width: 1400px) {
  .label {
    width: 15%;
    font-size: 1.9rem;
  }
}
