.root {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  margin: 1rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  height: 250px;
}

.imgContainer {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 100%;
}

.textContainer {

}

.title {
  font-family: var(--ff-josefin)
}

.label{
  font-family: var(--ff-alata);
  color: var(--dark-gray);
}
