.root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-black);
  color: var(--primary-white);
  font-family: var(--ff-alata);
  padding: 2rem;
}

.logoContainer {
  min-width: 150px;
  max-width: 200px;
  height: 40px;
  position: relative;
}

.logoContainer:hover {
  cursor: pointer;
}

.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.label {
  padding: 0.7rem 0;
  margin: 0.2rem 0; 
}

.label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.label::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-white);
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}

.label:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.footerSubNav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialMedias {
  display: flex;
  justify-content: space-evenly;
  width: 35vw;
  margin: 1rem;
}

.copyright {
  font-size: 0.9rem;
  color: var(--dark-gray);
}

@media screen and (min-width: 1200px) {
  .root {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5rem 0;
  }

  .navBar {
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
  }

  .socialMedias {
    width: 350px;
    margin: 0;
  }
}
